body {
  background-color: black;
  color: white; }

h1 {
  padding-top: 1%; }

.navbar {
  background-color: rgba(19, 15, 15, 0.797);
  font-size: larger;
  color: azure; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

.carousel > .carousel-inner > .carousel-item > img {
  width: 1000px;
  height: 1000px; }

.site-footer {
  background-color: rgba(19, 15, 15, 0.797);
  padding: 4%; }

#productCards {
  background-color: rgba(19, 15, 15, 0.797);
  padding: 2%; }

#allergenStatement {
  background-color: rgba(19, 15, 15, 0.797);
  border-color: goldenrod;
  color: white; }

#headingOne, #headingTwo, #headingThree {
  background-color: black;
  color: gold; }

.modal-content {
  background-color: rgba(19, 15, 15, 0.797); }

#accordionExample {
  color: black; }

.cart-header {
  font-weight: bold;
  font-size: 1.25em; }

.cart-column {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px; }

.cart-row {
  display: flex; }

.cart-item {
  width: 60%; }

.cart-price {
  width: 40%;
  font-size: 1.2em; }

.cart-item-title {
  margin-left: .5em;
  font-size: 1.2em; }

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px; }

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px; }

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px; }

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 20px; }

.cart-total-price {
  font-size: 1.1em; }

#orderNowCart {
  border-style: double;
  border-color: goldenrod;
  border-radius: 2%;
  background-color: rgba(19, 15, 15, 0.797); }
